body {
  font-family: 'Quicksand', sans-serif;
margin: 0px;
height: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}


input {
    font-family: 'Quicksand', sans-serif;
}

.inline-links {
  font-weight: 600;
}

a {
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  color: #333;

}

a:hover {
color: #a6a6a6;
font-weight: 800;
}


.strong {
  font-weight: 800;
  text-transform: uppercase;
}

p {
  font-weight: 500;
  letter-spacing: .02em;
}

.text-indent {
    text-indent: 15px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0px;
  margin-top: 35px;
}

h1 {
  font-size: 2.3em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}

h4 {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

.hide {
  display: none;
}

.main-header-container {
height: 90px;
display: flex;
background-color: #fff;
justify-content: space-between;
align-items: center;
box-shadow: 1px 3px 11px -4px rgba(51,51,3,0.31);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 1.8s ease;
}

.mobilenav-logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.fas.fa-bars {
  font-size: 1.7em;
  display: none;

}

.fas.fa-cubes {
  font-size: 1.5em;
  color: #387887;
  margin-right: 5px;
}

.company-name {
 font-family: 'Gruppo';
 font-size: 1.7em;
}

.navigation-container {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0px 25px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  margin: 0px 4%;
  font-size: 1.3em;
  text-transform: uppercase;
}

.top-content-wrapper {
  margin-top: 30px;
  border: 1px solid;
  height: 350px;
}

.blog-image-container {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
}

.blog-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-content-wrapper {
  border: 1px solid purple;
  margin-bottom: 25px;
  max-width: 75%;
  margin: 0 auto;
  padding: 0px 30px;
}

.main-blog-content-wrapper {
max-width: 75%;
  margin: 0 auto;
  border: 1px solid red;
  max-height: 100%;
  margin-bottom: 30px;
  height: 100%;
}

.blog-content {
  max-height: 100%;
  width:100%;
  margin-bottom: 30px;
}


.img-wrap-left-wrapper, .img-wrap-right-wrapper {
  display: flex;
  max-height: 350px;
  width: 100%;
  margin-bottom: 20px;
}

.img-wrap-left-container {
  height: 200px;
  max-width: 25%;
  margin: 15px;
  float: left;
}

.img-wrap-left, .img-wrap-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-wrap-left-text-wrapper, .img-wrap-right-text-wrapper {
  width: 60%;
}


.subtitle-container {
  padding: 10px;
  font-size: .9em;
  display: flex;
  align-items: center;
  text-transform:uppercase;
}

.category-label {
  color: #FFD700;
  font-weight: 800;
  letter-spacing: .05em;
}

.paragraph-text {
  line-height: 1.3em;
  text-indent: 35px;
  padding: 0px 5px;
}

.sidebar-menu-wrapper {
  border: 1px solid blue;
  padding: 25px 10px;
  max-width: 50%;
  margin: 0 auto;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  height: 30px;
  border: 1px solid #6b6b6b;
  align-items: center;
  padding: 10px;
  max-width: 80%;
  margin: 0 auto 15px auto;
}

#search {
  border: 1px solid;
  font-size: 1em;
  background-color: #fff;
  border: none;
}

#search::placeholder {
  color: #6b6b6b;
}

input:focus{
    outline: none;
  }

.search-icon-container {
  font-size: 1em;
color: #6b6b6b;

}

.recent-post-header {
  display: flex;
  align-items: center;
}

.recent-post-h3 {
  margin-top: 0px;
}

.fas.fa-long-arrow-alt-right {
color: #FFD700;
margin: 10px;
}

.recent-post {
  border-bottom: 2px solid #f6f6f6;
max-height: 200px;
  padding: 15px;
  width: 80%;
  margin: 0 auto;

}

.read-more-container {
  display: flex;
  align-items: center;
}

.read-more-container > a {
  text-transform: uppercase;
  letter-spacing: .125em;
}

.read-more-container > a:hover {
  font-weight: 600;
}

.fab.fa-first-order {
  margin: 10px;
  color: #FFD700;
}

.pullquote-wrapper {
  width: 80%;
  max-height: 450px;
  display: flex;
  margin: 25px auto;
  flex-direction: column;
  background-color: #f6f6f6;
  box-shadow: 1px 3px 11px -4px rgba(51,51,3,0.31);
  padding: 30px 50px;
  align-items: center;
}

.pullquote-text-container {
  display: flex;
  align-items: center;
}


.pullquote-text {
  color: #9a9a9a;
  padding: 10px 0px;
  font-size: 1.5em;
  font-style: italic;
  margin: 0px 20px;
}

.fas.fa-quote-right, .fas.fa-quote-left {
  opacity: .3;
  font-size: 1em;
}

.pullquote-source {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  color: #a6a6a6;
  font-style: italic;

}

.blog-footer {
  border: 1px solid #333;
  margin-top: 30px;
  margin-bottom: 50px;

}

.author-bio-wrapper {
  display: flex;
  border: 1px solid green;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.author-img-container {
  width: 100px;
  margin: 15px;
  height: 100%;
}

.author-img {
  width: 100%;
  object-fit: cover;
}

.author-bio-container {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;

}

.author-bio-container > h4 {
  margin-top: 10px;
}

.author-bio-container > p {
  margin-top: 5px;
}

.social-container {
border-top: 1px solid #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-height:100px;
    font-size: 1.7em;
}

.social-container > i {
  margin: 15px;
}

i:hover {
  color: #a6a6a6;
}

.load-more {
  display: none;
}

@media only screen and (max-width:1199px) {

  .mobilenav-logo-container {
    width: 100%;
    margin: 0px 20px;

}

  .navigation-container {
    display: none;
  }

  .fas.fa-bars {
    display: block;
    font-size: 2em;
  }

  .body-sidebar-wrapper {
    flex-direction: column;
    display: flex;


  }

  .main-blog-content-wrapper {
    max-width: 85%;
    display: flex;
    flex-direction:column;
    margin: auto;
  }

  .sidebar-menu-wrapper {
    margin: 0 auto;
    width: 90%;
  }

.search-bar-container {
  margin: 10px 30px;
}



  .load-more-container {
  display: flex;
  justify-content: center;

  }

  .load-more {
    font-size: 18px;
    display: block;
  }

  .load-more:hover {
    color: #a6a6a6;
  }

  .load-more:hover .fas.fa-spinner {
    transform: rotate(1200deg);
    transition: all 3s ease;
  }


  .fas.fa-spinner, .fas.fa-angle-up {
    margin: 10px;
    font-size: 18px;
    color: #a6a6a6;
  }

}

@media only screen and (max-width: 800px) {
  .blog-image-container {
    margin: 15px auto 0px auto;
    max-width: 100%;
    height: 250px;
    transition: all 1s ease;
  }

  .subtitle-container {
    font-size: .6em;
  }

  .body-sidebar-wrapper {
    max-width: 90%;
  }
}

@media only screen and (max-width:767px) {

  .sidebar-menu-wrapper {
    max-width: 100%;
  }


  .top-content-wrapper {
   height: auto;
  }

  .pullquote-wrapper {
    width: unset;
    margin: 25px 0px;
  }

.img-wrap-left-wrapper {
flex-direction: column;
width: unset;
max-height: unset;
margin-bottom:0px;
}

.img-wrap-right-wrapper  {

  flex-direction: column-reverse;
  width: unset;
  max-height: unset;
  margin-bottom:0px;
}

.img-wrap-left-container, .img-wrap-right-container {
  width: 100%;
}

.img-wrap-left, .img-wrap-right {
  height: 270px;
  width: 95%;
}

.img-wrap-left-text-wrapper, .img-wrap-right-text-wrapper {
  width: 100%;
}

.author-bio-container {
  font-size: 1em;
}

.author-img-container {
  max-width:20%;
}

}

@media only screen and (max-width:576px) {

  .author-bio-wrapper {
    flex-direction: column;
  }

  .author-img-container {
    width: 100%;
    margin: 10px auto;
    height: 10%;
  }

  .author-bio-container {
    max-width: 100%;
    text-align: center;
  }
  }
}
