body {
  font-family: 'Quicksand', sans-serif;
margin: 0px;
}

input {
    font-family: 'Quicksand', sans-serif;
}

.inline-links {
  font-weight: 600;
}

a {
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;

}

a:hover {
color: #a6a6a6;
font-weight: 800;
}


.strong {
  font-weight: 800;
  text-transform: uppercase;
}

p {
  font-weight: 500;
  margin: 0px;
}

.text-indent {
    text-indent: 15px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0px;
  margin-top: 10px;
}

h1 {
  font-size: 2.3em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
}

h4 {
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

.hide {
  display: none;
}

.main-header-container {
height: 90px;
display: flex;
background-color: #fff;
justify-content: space-between;
align-items: center;
box-shadow: 1px 3px 11px -4px rgba(51,51,3,0.31);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 1.8s ease;
}

.mobilenav-logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.fas.fa-bars {
  font-size: 1.7em;
  margin-right: 15px;

}

.fas.fa-cubes {
  font-size: 1.5em;
  color: #387887;
  margin-right: 5px;
}

.company-name {
 font-family: 'Gruppo';
 font-size: 1.7em;
}

.navigation-container {
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
  margin: 0px 25px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  margin: 0px 4%;
  font-size: 1.3em;
  text-transform: uppercase;
}

.blog-image-container {
height: 400px;
  max-width: 75%;
  margin: 100px auto 0px auto;
}

.blog-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.body-sidebar-wrapper {
  display:flex;
  max-width: 70%;
  margin: 0 auto;
  border: 1px solid green;
}

.main-blog-content-wrapper {
  max-width:60%;
  padding: 10px 25px;
  border: 1px solid red;
}

.blog-content {
  max-height: 100%;
  width:100%;
  margin-bottom: 30px;
}


.img-wrap-left-wrapper, .img-wrap-right-wrapper {
  display: flex;
  max-height: 250px;
  width: 100%;
  margin-bottom: 25px;
}

.img-wrap-left-container, .img-wrap-right-container {
  width:40%;
  margin: 15px;
}

.img-wrap-left, .img-wrap-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-wrap-left-text-wrapper, .img-wrap-right-text-wrapper {
  width: 60%;
}


.subtitle-container {
  padding: 10px 0px 0px 0px;
  font-size: .9em;
  display: flex;
  align-items: center;
  text-transform:uppercase;
}

.category-label {
  color: #FFD700;
  font-weight: 800;
  letter-spacing: .05em;
}

.paragraph-text {
  line-height: 1.3em;
  text-indent: 35px;
  padding: 0px 5px;
}

.sidebar-menu-wrapper {
  width: 30%;
  height: 100%;
  border: 1px solid blue;
  padding: 25px 10px;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  height: 25px;
  border: 1px solid #6b6b6b;
  align-items: center;
  padding: 10px;
}

#search {
  height: 100%;
  border: 1px solid;
  font-size: 1.3em;
  background-color: #fff;
  border: none;
}

#search::placeholder {
  color: #6b6b6b;
}

input:focus{
    outline: none;
  }

.search-icon-container {
  font-size: 1.3em;
color: #6b6b6b;

}

.recent-post-container {
  height: 100%;
  padding: 10px;
}

.recent-post-header {
  display: flex;
  align-items: center;
}

.fas.fa-long-arrow-alt-right {
color: #FFD700;
margin: 10px;
}

.recent-post {
  border-bottom: 2px solid #f6f6f6;
  height: 100%;
  padding: 15px;
  width: 80%;
  margin: 0 auto;

}

.read-more-container {
  display: flex;
  align-items: center;
}

.read-more-container > a {
  text-transform: uppercase;
  letter-spacing: .125em;
}

.read-more-container > a:hover {
  font-weight: 600;
}

.fab.fa-first-order {
  margin: 10px;
  color: #FFD700;
}

.pullquote-wrapper {
  width: 100%;
  max-height: 150px;
  display: flex;
  margin: 20px 0px;
  align-items: left;
  flex-direction:column;
  background-color: #f6f6f6;
  box-shadow: 1px 3px 11px -4px rgba(51,51,3,0.31);
}

.pullquote-text {
  margin: 0 auto;
  padding: 30px;
  font-size: 1.3em;
  font-style: italic;
}

.pullquote-source {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #a6a6a6;
  margin-left: 35px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-style: italic;

}

.blog-footer {
  border-top: 1px solid #f6f6f6;
  height: 100%;
  margin-top: 25px;
}

.author-container{
  display:flex;
  max-height: 150px;
  padding: 10px;

}

.author-img-container {
  max-width:20%;
  margin: 10px;
}

.author-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.author-bio-container {
  max-width: 75%;
}

.social-container {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-container > i {
  margin: 10px;
  font-size: 1.5em;
}

i:hover {
  color: #a6a6a6;
}
